<footer class="bg-white py-6 mt-10 absolute bottom-0 left-0 w-full shadow-md">
    <div class="max-w-7xl mx-auto px-6 sm:px-8">
        <div class="flex justify-center items-center">
            <!-- Enlaces de redes sociales -->
            <div class="space-x-12"> <!-- Espacio más equilibrado entre los íconos -->
                <!-- Ícono de casa -->
                <a href="/" class="text-gray-600 hover:text-yellow-500 text-xl transition duration-300">
                    <i class="fas fa-home text-3xl"></i>
                </a>
                <!-- Ícono de imágenes -->
                <a href="/imagenes" class="text-gray-600 hover:text-yellow-500 text-xl transition duration-300">
                    <i class="fas fa-image text-3xl"></i>
                </a>
                <!-- Ícono de búsqueda -->
                <a href="/buscar" class="text-gray-600 hover:text-yellow-500 text-xl transition duration-300">
                    <i class="fas fa-search text-3xl"></i>
                </a>
                <!-- Ícono de persona -->
                <a href="/perfil" class="text-gray-600 hover:text-yellow-500 text-xl transition duration-300">
                    <i class="fas fa-user text-3xl"></i>
                </a>
            </div>
        </div>
    </div>
</footer>